<br><h3 align="center"><strong>Sign in</strong></h3></br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div align="center" class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
   </div>

  <div align="center" class="field"><br />
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div align="center" class="actions"><br />
    <%= f.submit "Sign in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
