<%= form_for user_post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.label :video %>
    <%= f.file_field :video %>
  </div>

  <%= f.submit %>
<% end %>