<%#= link_to 'All posts', posts_path %>
<h1><%= @post.title %></h1>
<% if user_signed_in? and current_user.id == @post.user_id %>
  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %>
  |
  <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
  <%#=current_user.id %>
<% end %>
<br>
<%= video_tag(@post.video.url, alt: 'Video', controls: true, size: "1280x720") if @post.video? %>

<h2><%= link_to  @post.user.login, user_posts_path(@post.user_id) %></h2>

<div class="card" >
  <div class="card-block">
    <p class="card-text"><%= @post.body %></p>
  </div>
</div>

<h2>Comments:</h2>
<% @post.comments.each do |comment| %>
	<div class="alert alert-light">
		<br><strong><%= comment.username %></strong>[<%= comment.created_at %>]: <%= comment.comment %> 
	</div>
<% end %>

<%= form_for([@post, @post.comments.build]) do |f| %>
	<p>username:<%= f.text_field(:username, {:class => 'form-control'}) %></p>
  <p>text:<%= f.text_area(:comment, {:class => 'form-control'}) %></p>
	<p><%= f.submit("Add comment", {:class => 'btn btn-warning'}) %></p>
<% end %>
